<div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="center">
  <button mat-button color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button color="primary" routerLink="/list">
    <mat-icon>list</mat-icon>
    <span>List</span>
  </button>
  <button mat-button color="primary" routerLink="/form">
    <mat-icon>person_add</mat-icon>
    <span>SaveNewClient</span>
  </button>
  <button mat-button color="primary" routerLink="/formReactive">
    <mat-icon>save</mat-icon>
    <span>SaveNewClient ReactiveForm</span>
  </button>
  <button mat-button color="primary" routerLink="/formBuilder">
    <mat-icon>how_to_reg</mat-icon>
    <span>SaveNewClient FormBuilder</span>
  </button>
  <button mat-button color="primary" routerLink="/mapTable">
    <mat-icon>view_list</mat-icon>
    <span>Table</span>
  </button>
  <button mat-button color="primary" routerLink="/newTable">
    <mat-icon>view_headline</mat-icon>
    <span>NewTable</span>
  </button>
</div>
<br>

