table {
  width: 100%;
}

.highlight {
background: rgb(179, 202, 180);
}

.mat-cell,
.mat-header-cell {
  flex: 0 0 120px;
}

.mat-cell.mat-cell.cdk-column-id.mat-column-id.ng-star-inserted,
.mat-header-cell.mat-header-cell.cdk-column-id.mat-column-id.ng-star-inserted {
  flex: 0 0 150px !important;
  }

.mat-cell.mat-cell.cdk-column-maritalStatusName.mat-column-maritalStatusName.ng-star-inserted,
.mat-header-cell.mat-header-cell.cdk-column-maritalStatusName.mat-column-maritalStatusName.ng-star-inserted {
  flex: 0 0 200px !important;
}



